.fond {
    background-color: rgb(220, 37, 0);
    color: white;
}

.temps {
    font-size: 5vw;
    margin-top: 27.5%;
}

.texte {
    font-size: 2vw;
}

.controle {
    font-size: 2vw;
    width: 50%;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

.controle2 {
    font-size: 2vw;
    width: 5%;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

.cercle {
    border: solid;
    border-color: gold;
    border-width: 0.25vw;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    margin: auto;
}

.input {
    font-size: 2vw;
    width: 10%;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

.tableau {
    margin: auto;
    font-size: 3vw;
}