@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body {
    
    font-family: "Dosis", monospace;
    font-style: normal;
    
}

.fond {
    background-color: rgb(220, 37, 0);
    color: white;
}

.temps {
    font-size: 5vw;
}

.texte {
    font-size: 2vw;
}

.controle {
    font-size: 2vw;
    width: 50%;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

.controle2 {
    font-size: 2vw;
    width: 5%;
    margin-top: 2.5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.cercle {
    border: solid;
    border-color: gold;
    border-width: 0.25vw;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    margin: auto;
}

.input {
    font-size: 2vw;
    width: 10%;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

.inactif {
    font-size: 3vw;
    font-weight: 10;
    animation: devenirInactif 1s;
}

@keyframes devenirInactif {
    0% {
        font-weight: 900;
    }
    100% {
        font-weight: 10;
    }
  }

.actif {
    font-size: 3vw;
    font-weight: 900;
    animation: devenirActif 1s;
}

@keyframes devenirActif {
    0% {
        font-weight: 10;
        font-size: 3vw;
    }
    50% {
        font-size: 4vw;
    }
    100% {
        font-size: 3vw;
        font-weight: 900;
    }
  }

h1 {
    font-size: 8vw;
    animation: animationTitre 1s;
}

@keyframes animationTitre {
    0% {
        letter-spacing: 1vw;
    }
    100% {
        letter-spacing: auto;
    }
  }