@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body {
    
    font-family: "Dosis", monospace;
    font-style: normal;
    
}

/* Couleur de fond de la page web */
.fond {
    background-color: rgb(220, 37, 0);
    color: white;
}

/* Classe du minuteur */
.temps {
    font-size: 5vw;
}

/* Classe des différents affichages textuels */
.texte {
    font-size: 2vw;
}

/* Classe du bouton qui controle le minuteur */
.controle {
    font-size: 5vw;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

/* Classe des boutons qui controlent le choix du temps (+ ou -) */
.controle2 {
    font-size: 2vw;
    margin-top: 2.5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

/* Classe des boutons qui permettent de choisir de changer le temps de travail ou de pause */
.controle3 {
    font-size: 2vw;
    margin-bottom: 5%;
}

/* Classe permettant de créer le cercle */
.cercle {
    border: solid;
    border-color: gold;
    border-width: 0.25vw;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    margin: auto;
}

/* Classe permettant d'afficher le choix du temps (entre les boutons + et -) */
.choix {
    font-size: 2vw;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

/* Classe permettant que la phase (travail ou pause) n'est pas en cours */
.inactif {
    font-size: 3vw;
    font-weight: 10;
    animation: devenirInactif 1s;
}

@keyframes devenirInactif {
    0% {
        font-weight: 900;
    }
    100% {
        font-weight: 10;
    }
  }

/* Classe permettant que la phase (travail ou pause) est en cours */
.actif {
    font-size: 3vw;
    font-weight: 900;
    animation: devenirActif 1s;
}

@keyframes devenirActif {
    0% {
        font-weight: 10;
        font-size: 3vw;
    }
    50% {
        font-size: 4vw;
    }
    100% {
        font-size: 3vw;
        font-weight: 900;
    }
  }

h1 {
    font-size: 8vw;
    animation: animationTitre 1s;
}

@keyframes animationTitre {
    0% {
        letter-spacing: 1vw;
    }
    100% {
        letter-spacing: 0vw;
    }
  }

/* Permet d'agrandir les textes et le site en général si l'écran est trop réduit ou que l'on réduit la fenêtre */
@media screen and (max-width: 750px) {

    .principal {
        margin-top: 25vw;
        transform: scale(1.25);
        animation: ajuster 1s;
    }
    .controle3 {
        font-size: 3vw;
        
    }
    .controle2 {
        font-size: 3vw;
        margin-top: 1%;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .texte {
        font-size: 3vw;
    }
    .choix {
        font-size: 3vw;
    }
}

@keyframes ajuster {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}


/* Permet de remettre à la taille normal si on réagrandit la fenêtre */
@media screen and (min-width: 750px) {

    .principal {
        margin-top: 0vw;
        transform: scale(1);
        animation: reajuster 1s;
    }
    .controle3 {
        font-size: 2vw;
        flex: none;
    }
    .controle2 {
        font-size: 2vw;
        margin-top: 2.5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .texte {
        font-size: 2vw;
    }
    .choix {
        font-size: 2vw;
    }
}

@keyframes reajuster {
    0% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}